@model FitnessCenterMVC.Models.EditFitnessCenterViewModel
@{
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h5 class="text-uppercase text-center">Edit fitness center</h5>
            </div>
            <div class="card-body">
                <form asp-action="EditFitnessCenter">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    @Html.HiddenFor(m =>m.fitnessCenter.Id)

                    <div class="form-group">
                        <label asp-for="fitnessCenter.Title"></label>
                        <input asp-for="fitnessCenter.Title" class="form-control" />
                        <span asp-validation-for="fitnessCenter.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.PhoneNumber"></label>
                        <input asp-for="fitnessCenter.PhoneNumber" class="form-control" />
                        <span asp-validation-for="fitnessCenter.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.EmailAddress"></label>
                        <input asp-for="fitnessCenter.EmailAddress" class="form-control" />
                        <span asp-validation-for="fitnessCenter.EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.Street"></label>
                        <input asp-for="fitnessCenter.Street" class="form-control" />
                        <span asp-validation-for="fitnessCenter.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.Number"></label>
                        <input asp-for="fitnessCenter.Number" class="form-control" />
                        <span asp-validation-for="fitnessCenter.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.City"></label>
                        <input asp-for="fitnessCenter.City" class="form-control" />
                        <span asp-validation-for="fitnessCenter.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fitnessCenter.ZipCode"></label>
                        <input asp-for="fitnessCenter.ZipCode" class="form-control" />
                        <span asp-validation-for="fitnessCenter.ZipCode" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Save fitness center" class="btn btn-success text-uppercase rounded-0" />
                </form>
            </div>
        </div>
    </div>
</div>

<h1>List of halls</h1>

<p>
    <a asp-action="AddHall" asp-controller="Hall" asp-route-id="@Model.fitnessCenter.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Capacity</p>
            </th>
            <th>
                <p>Hall mark</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.halls)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallMark)
                </td>
                <td>
                    <a asp-action="EditHall" asp-controller="Hall" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteHall" asp-controller="Hall" asp-route-id="@item.Id"
                   onclick="return confirm('Are you sure that you want to delete hall @item.HallMark ?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>